@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500&family=Sarabun:ital,wght@0,100;0,200;1,100;1,800&display=swap");

img {
  display: block;
}

.nowrap {
  white-space: nowrap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Edu NSW ACT Foundation", cursive;
  min-height: 100vh;
}

.offscreen {
  position: absolute;
  left: -100000px;
}
.container {
  background-color: rgb(128, 208, 255);
}

.deer-profile {
  border-bottom: 2px solid black;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  background-image: url(../image/mountain.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.h1 {
  font-size: 500%;
  color: lightpink;
  text-shadow: 2px 2px 5px #227222;
}

.profile-pic-figure {
  width: 35%;
}

.profile-pic-figure img {
  width: 100%;
  height: auto;
  min-width: 100px;
  border: 5px double gray;
  border-radius: 50%;
}
